{% sw_extends '@Storefront/storefront/page/account/profile/personal.html.twig' %}


 {% block page_account_profile_personal_fields_birthday_selects %}
    <div class="{{ formRowClass }}">
        {% set birthdate = data.birthday|date('Y-m-d') %}
        {% set birthdateDay = data.birthday|date('d') %}
        {% set birthdateMonth = data.birthday|date('m') %}
        {% set birthdateYear = data.birthday|date('Y') %}
       

        {% 
            set datePickerPluginOptions = {
                enableTime: false,
                dateFormat: 'Y-m-d',
                selectors: {
                    inputDay: '#birthdayDay',
                    inputMonth: '#birthdayMonth',
                    inputYear: '#birthdayYear',
                }
            } 
        %}


        <input 
            class="form-control"
            name="birthday" 
            value="{{birthdate}}" 
            data-date-picker-options='{{datePickerPluginOptions|json_encode}}'
            data-date-picker
        />
        
        {# Needs to match the Expected Types in the Symfony controller #}
        <input type="hidden" id="birthdayDay" name="birthdayDay" value="{{birthdateDay}}" />
        <input type="hidden" id="birthdayMonth" name="birthdayMonth" value="{{birthdateMonth}}" />
        <input type="hidden" id="birthdayYear" name="birthdayYear" value="{{birthdateYear}}" />

    </div>
{% endblock %} 